<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Регистрация</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Зарегистрироваться</button>
            </form>
            <p class="switch-page">Уже есть аккаунт? <a href="{% url 'login' %}">Войдите</a></p>
        </div>
    </div>
</body>
</html>
